<ion-view class="discover-detail-view">
  <ion-nav-title>
    <span>Discover Detail</span>
  </ion-nav-title>
  <ion-content>
    <div class="list">

      <div class="item item-image">
        <img src="img/adam.jpg">
      </div>

      <a class="item text-center" href="#">
       <h2>Pretty Hate ty Hate ty Hate Machine</h2>
      
        <span class="start"><i class="icon ion-ios-star"></i></span>
        <span class="start"><i class="icon ion-ios-star"></i></span>
        <span class="start"><i class="icon ion-ios-star"></i></span>
        <span class="start"><i class="icon ion-ios-star"></i></span>
        <span class="start"><i class="icon ion-ios-star"></i></span>
      </a>

      <div class="list">

  <div class="item item-divider">
    Info
  </div>

  <span class="item item-icon-left" href="#">
<i class="icon icon-small ion-ios-timer-outline"></i>
    Ho Chi Minh City 70000, Vietnam Vietnam Vietnam
  </span>
<span class="item item-icon-left" href="#">
<i class="icon icon-small ion-ios-timer-outline"></i>
    10:00-22:00
  </span>
  <div class="row">
                <div class="col-33 text-center">
                    <a class="tab-item tab-inline"  ui-sref="app.transfer">
                        <i class="icon ion-ios-location-outline"></i>
                        <span class="tab-title">Location</span>
                    </a>
                </div>
                <div class="col-33 text-center">
                    <a class="tab-item tab-inline">
                        <i class="icon ion-ios-telephone-outline"></i>
                        <span class="tab-title">Phone</span>
                    </a>
                </div>

                <div class="col-33 text-center">
                    <a class="tab-item tab-inline">
                        <i class="icon ion-ios-eye-outline"></i>
                        <span class="tab-title">Address</span>
                    </a>
                </div>
               
            </div>
</div>
    </div>
  </ion-content>
</ion-view>
