<ion-view class="discover-view">
  <ion-nav-title>
    <span>Discover</span>
  </ion-nav-title>

    <ion-content>
        <div class="padding"></div>


            <div class="row">
                <div class="col-25 text-center">
                    <a class="tab-item tab-inline">
                        <i class="icon ion-android-sync"></i>
                        <span class="tab-title">Transfer</span>
                    </a>
                </div>
                <div class="col-25 text-center">
                    <a class="tab-item tab-inline">
                        <i class="icon ion-card"></i>
                        <span class="tab-title">Card Repay</span>
                    </a>
                </div>

                <div class="col-25 text-center">
                    <a class="tab-item tab-inline">
                        <i class="icon ion-android-phone-portrait"></i>
                        <span class="tab-title">Top Up</span>
                    </a>
                </div>
                <div class="col-25 text-center">
                    <a class="tab-item tab-inline">
                        <i class="icon ion-social-codepen-outline"></i>
                        <span class="tab-title">Ant Fortune</span>
                    </a>
                </div>
            </div>
            <div class="img-full">
                <div class="bg"></div>
                <div class="img-bg-full">
                    <img class="full-image" src="img/imgfull1.jpg">
                    <img class="full-image" src="img/imgfull.jpg">

                </div>
                <div class="bg"></div>
            </div>


            <div class="list ">
                <a class="item item-thumbnail-left"  ui-sref="app.discoverDetail">
                    <img src="img/imgfull1.jpg">
                    <h2>Pretty Hate ty Hate ty Hate Machine</h2>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star-half"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star-half"></i></span>

                    <span class="pull-right"><span>4 km</span></span>
                    <p>Nine Inch Nai Inch Nails</p>
                </a>
               <a class="item item-thumbnail-left" ui-sref="app.discoverDetail">
                    <img src="img/adam.jpg">
                    <h2>Pretty Hate ty Hate ty Hate Machine</h2>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star-half"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star-half"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star-half"></i></span>

                    <span class="pull-right"><span>4 km</span></span>
                    <p>Nine Inch Nai Inch Nails</p>
                </a>
                <a class="item item-thumbnail-left" ui-sref="app.discoverDetail">
                    <img src="img/ben.png">
                    <h2>Pretty Hate ty Hate ty Hate Machine</h2>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>
                    <span href="#" class="start"><i class="icon ion-ios-star"></i></span>

                    <span class="pull-right"><span>4 km</span></span>
                    <p>Nine Inch Nai Inch Nails</p>
                </a>
            </div>


    </ion-content>
</ion-view>