<ion-view class="transfer-to-account-view">
  <ion-nav-title class="has-tabs-top">
    <span>To UBCC Account</span>
  </ion-nav-title>

  <ion-content has-header="true">
      <div class="bg"></div>
      <div class="list">
  <label class="item item-input">
    <span class="input-label">Account</span>
    <input type="text" placeholder="Email/Mobile">

  </label>
    <div class="padding">
      <p>Real-time transfer. Can't Be refunded</p>
    </div>
  <div class="padding">
        <button class="button button-block button-small button-positive">Next</button>
        
      </div>
</div>


    </ion-content>
</ion-view>
