<ion-view class="transfer-view">
  <ion-nav-title>
    <span>Transfer</span>
  </ion-nav-title>
  <ion-content>
    <ion-list>
         <ion-item class="item-icon-left" ui-sref="app.transferFriend">
          <i class="icon ion-person-stalker"></i>To My Friends
        </ion-item>
        <ion-item class="item-icon-left" ui-sref="app.transferToAccount">
          <i class="icon ion-ios-cog-outline"></i>To UBCC Account
        </ion-item>
        <ion-item class="item-icon-left" ui-sref="app.transferToBankCard">
          <i class="icon ion-card"></i>To Bank Card
        </ion-item>      
    </ion-list>
  </ion-content>
</ion-view>
